* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.GoogleLogin {
  width: 250px;
  margin-left: auto; 
  margin-right: 0;
}

@media only screen and (max-width: 360px) {
  .GoogleLogin {
    width: 180px;
    padding: 10px;
  }
}
